<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/_fragments :: head(~{::title})">
    <title>分类管理</title>
</head>
<body>
<!--导航-->
<nav th:replace="admin/_fragments :: menu(2)"></nav>
<div class="ui attached pointing menu">
    <div class="ui container">
        <div class="right menu">
            <a th:href="@{/admin/types/input}" class="item">发布</a>
            <a th:href="@{/admin/types}" class="active teal item">列表</a>
        </div>
    </div>
</div>
<!--中间-->
<div class="m-padded-large m-container-small">
    <div class="ui container">
        <!-- table 列表-->
        <div class="ui success message" th:unless="${#strings.isEmpty(message)}">
            <i class="close icon"></i>
            <div class="header">提示：</div>
            <p th:text="${message}"></p>
        </div>

        <table class="ui celled table">
            <thead>
            <tr>
                <th></th>
                <th>名称</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="type,iterStat : ${page.content}">
                <td th:text="${iterStat.count}">1</td>
                <td th:text="${type.name}"></td>
                <td>
                    <a href="#" th:href="@{/admin/types/{id}/input(id=${type.id})}" class="ui mini  basic teal button">编辑</a>
                    <a href="#" th:href="@{/admin/types/{id}/delete(id=${type.id})}" class="ui mini  basic red button">删除</a>
                </td>
            </tr>
            </tbody>
            <!-- 翻页按钮 -->
            <tfoot>
            <tr>
                <th colspan="6" >
                    <div class="ui teal pagination menu" th:if="${page.totalPages>1}">
                        <a th:href="@{/admin/types(page=${page.number}-1)}" class="item" th:unless="${page.first}">上一页</a>
                        <a th:href="@{/admin/types(page=${page.number}+1)}" class="item" th:unless="${page.last}">下一页</a>
                    </div>
                    <a th:href="@{/admin/types/input}" class="ui right floated primary basic mini button">新增</a>
                </th>
            </tr>
            </tfoot>
        </table>
    </div>

</div>

<!--底部-->
<footer th:replace="_fragments :: fotter"></footer>
<!--/*/<th:block th:replace="admin/_fragments :: script">/*/-->
<!--/*/</th:block>/*/-->
<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide')
    });

    $('.ui.dropdown').dropdown({
        on:'hover'
    });
    //消息关闭
    $('.close').on('click',function () {
        $(this)
            .closest('.message')
            .transition('fade');
    });

</script>
</body>
</html>