<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments :: head(~{::title})">
    <title>详情页</title>
</head>
<body>
<!--导航-->
<nav th:replace="_fragments :: menu(1)"></nav>
<!--中间-->
<div id="waypoint" class="m-padded-large m-container-small animated fadeIn">
    <div class="ui container">
        <div class="ui top attached segment">
            <div class="ui horizontal link list ">
                <div class="item">
                    <img src="https://picsum.photos/id/1012/100/100" th:src="@{${blog.user.avatar}}" alt="" class="ui avatar image">
                    <div class="content"><a href="#" class="header" th:text="${blog.user.nickname}">赵凝</a></div>
                </div>
                <div class="item">
                    <i class="calendar icon"></i><span th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd')}"></span>
                </div>
                <div class="item">
                    <i class="eye icon"></i><span th:text="${blog.views}"></span>
                </div>

            </div>
        </div>
        <div class="ui attached segment">
            <!--            图片区-->
            <img src="https://picsum.photos/id/1012/800/450" alt="" th:src="@{${blog.firstPicture}}"  class="ui fluid rounded image">
        </div>
        <div class="ui  attached segment padded">
            <!--            内容-->
            <div class="ui right aligned basic segment">
                <div class="ui teal basic label" th:text="${blog.flag}">原创</div>
            </div>
            <h2 class="ui center aligned header" th:text="${blog.title}">Lorem ipsum dolor.</h2>
            <br>
            <div id="content" class="typo js-toc-content typo-selection m-padded-lr-responsive m-padded-large" th:utext="${blog.content}" >

            </div>
            <!--            标签-->
            <div class="m-padded-lr-responsive">
                <div class="ui basic teal label" th:each="tag:${blog.tags}" th:text="${tag.name}">方法论</div>
            </div>
            <!--            赞赏-->
            <div class="ui center aligned segment basic">
                <button id="payButton" class="ui orange basic circular button">赞赏</button>
            </div>
            <div class="ui payQ flowing popup transition hidden">
                <div class="ui orange basic label">
                    <div class="ui images" style="font-size: inherit !important;">
                        <div class="image">
                            <img src="../static/images/weixin.png" th:src="@{/images/weixin.png}" alt="" class="ui rounded bordered image"
                                 style="width: 120px">
                            <div>支付宝</div>
                        </div>
                        <div class="image">
                            <img src="../static/images/weixin.png" th:src="@{/images/weixin.png}" alt="" class="ui rounded bordered image"
                                 style="width: 120px">
                            <div>微信</div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="ui attached positive message">
            <!--            博客信息-->
            <div class="ui grid middle aligned">
                <div class="eleven wide column">
                    <ul class="list">
                        <li>作者：<span th:text="${blog.user.nickname}"></span><a href="" th:href="@{/about}" target="_blank">(联系作者)</a></li>
                        <li>发表时间：<span th:text="${#dates.format(blog.createTime,'yyyy-MM-dd HH:mm')}"></span></li>
                        <li>最近一次更新时间：<span th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd HH:mm')}"></span></li>

                    </ul>

                </div>
                <div class="five wide column">
                    <img src="../static/images/weixin.png" th:src="@{/images/weixin.png}"  alt="" class="ui rounded bordered image right floated"
                         style="width: 110px">
                </div>
            </div>
        </div>
        <div  class="ui bottom attached segment">
            <!--            留言区-->
            <div id="comment-container" class="ui teal segment">
                <div th:fragment="commentList">
                    <div class="ui threaded comments" style="max-width: 100%">
                        <h3 class="ui dividing header">Comments</h3>
                        <div class="comment" th:each="comment : ${comments}">
                            <a class="avatar md-opjjpmhoiojifppkkcdabiobhakljdgm_doc">
                                <img src="https://picsum.photos/id/1012/100/100" th:src="@{${comment.avatar}}">
                            </a>
                            <div class="content">
                                <a class="author md-opjjpmhoiojifppkkcdabiobhakljdgm_doc" th:text="${comment.nickname}">Matt</a>
                                <div class="metadata">
                                    <span class="date" th:text="${#dates.format(comment.createTime,'yyyy-MM-dd HH:mm')}">Today at 5:42PM</span>
                                </div>
                                <div class="text" th:text="${comment.content}">
                                    How artistic!
                                </div>
                                <div class="actions">
                                    <a class="reply" data-commentid="1" data-commentnickname="Matt" th:attr="data-commentid=${comment.id},data-commentnickname=${comment.nickname}" onclick="reply(this)">回复</a>
                                </div>
                            </div>
                            <div class="comments" th:if="${#arrays.length(comment.replyComments)}>0">
                                <div class="comment" th:each="reply : ${comment.replyComments}">
                                    <a class="avatar md-opjjpmhoiojifppkkcdabiobhakljdgm_doc">
                                        <img src="https://picsum.photos/id/1012/100/100" th:src="@{${reply.avatar}}">
                                    </a>
                                    <div class="content">
                                        <a class="author md-opjjpmhoiojifppkkcdabiobhakljdgm_doc">
                                            <span th:text="${reply.nickname}"></span>&nbsp;<span th:text="|@${reply.parentComment.nickname}|" class="m-teal"></span>

                                        </a>
                                        <div class="metadata">
                                            <span class="date" th:text="${#dates.format(reply.createTime,'yyyy-MM-dd HH:mm')}">Today at 5:42PM</span>
                                        </div>
                                        <div class="text" th:text="${reply.content}">
                                            How artistic!
                                        </div>
                                        <div class="actions">
                                            <a class="reply" data-commentid="1" data-commentnickname="Matt" th:attr="data-commentid=${reply.id},data-commentnickname=${reply.nickname}" onclick="reply(this)">回复</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="comment-form" class="ui form">
                <input type="hidden" name="blog.id" th:value="${blog.id}">
                <input type="hidden" name="parentComment.id" th:value="-1">
                <div class="required field">
                    <textarea name="content" placeholder="请输入评论信息" cols="30" rows="10"></textarea>
                </div>
                <div class="required fields">
                    <div class="field m-mobile-wide m-margin-bottom-mini">
                        <div class="ui left icon input">
                            <i class="user  icon"></i>
                            <input type="text" name="nickname" placeholder="姓名">
                        </div>
                    </div>
                    <div class="required field m-mobile-wide m-margin-bottom-mini">
                        <div class="ui left icon input">
                            <i class="mail icon"></i>
                            <input type="text" name="email" placeholder="邮箱">
                        </div>
                    </div>
                    <div class="field m-margin-bottom-mini m-mobile-wide">
                        <button id="comment-btn" type="button"  class="ui teal button m-mobile-wide"><i class="edit icon"></i>发布</button>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

<div id="toolbar" class="m-right-bottom m-fixed m-padding-all-big" style="display: none">
    <div class="ui vertical icon buttons ">
        <button type="button" class="ui toc-button teal button">目录</button>
        <a href="#comment-container" class="ui teal button">留言</a>
        <button type="button" class="ui icon wechat button"><i class="weixin icon"></i></button>
        <div id="toTop" class="ui icon  button"><i class="chevron up icon"></i></div>
    </div>
</div>
<div class="ui toc-container flowing popup transition hidden"style="width: 250px">
    <ol class="js-toc">
    </ol>
</div>

<div id="qrcode" class="ui wechat-qr flowing popup transition hidden " style="width:130px">
<!--    <img src="./static/images/weixin.png" alt="" class="ui rounded image">-->
</div>

<br>
<br>
<!--底部-->
<footer th:replace="_fragments :: fotter"></footer>

<!--/*/<th:block th:replace="_fragments :: script">/*/-->

<!--/*/</th:block>/*/-->
<script th:inline="javascript">
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide')
    });

    $('#payButton').popup({
        popup: $('.payQ.popup'),
        on: 'click',
        position: 'bottom center'
    });
    tocbot.init({
        // Where to render the table of contents.
        tocSelector: '.toc-container',
        // Where to grab the headings to build the table of contents.
        contentSelector: '.js-toc-content',
        // Which headings to grab inside of the contentSelector element.
        headingSelector: 'h1, h2, h3',
        // For headings inside relative or absolute positioned containers within content.
        hasInnerContainers: true,
    });

    $('.toc-button').popup({
        popup: $('.toc-container'),
        on: 'click',
        position: 'left center'
    });

    $('.wechat').popup({
        popup: $('.wechat-qr'),
        on: 'hover',
        position: 'left center'
    });

    var serurl = "127.0.0.1:8080";
    var url =/*[[@{/blog/{id}(id=${blog.id})}]]*/;
    var qrcode = new QRCode("qrcode", {
        text: serurl+url,
        width: 110,
        height: 110,
        colorDark : "#000000",
        colorLight : "#ffffff",
        correctLevel : QRCode.CorrectLevel.H
    });
    $('#toTop').click(function () {
         $(window).scrollTo(0,500);

    });

    var waypoint = new Waypoint({
        element: document.getElementById('waypoint'),
        handler: function(direction) {
            if (direction=='down'){
                $('#toolbar').show(500);
            }else {
                $('#toolbar').hide(500);
            }

        }
    });

    $('.ui.form').form({
        fields: {
            content: {
                identifier: 'content',
                rules: [{
                    type: 'empty',
                    prompt: '请输入评论内容'
                }]
            },
            nickname: {
                identifier: 'nickname',
                rules: [{
                    type: 'empty',
                    prompt: '请输入姓名'
                }]
            },
            email: {
                identifier: 'email',
                rules: [{
                    type: 'empty',
                    prompt: '请输入邮箱地址'
                }]
            }
        }
    });

    $(function () {
        $("#comment-container").load(/*[[@{/comments/{id}(id=${blog.id})}]]*/"");

    });

    $('#comment-btn').click(function(){
      var boo =  $('.ui.form').form('validate form');
      if (boo){
          console.log('提交成功');
          postData();
      }else {
          console.log('提交失败');
      }
    });
    function postData() {
        $("#comment-container").load(/*[[@{/comments}]]*/"",{
            "parentComment.id": $("[name='parentComment.id']").val(),
            "blog.id": $("[name='blog.id']").val(),
            "nickname": $("[name='nickname']").val(),
            "email": $("[name='email']").val(),
            "content": $("[name='content']").val()
        },function (responseTxt,statusTxt,xhr) {
            $(window).scrollTo($('#comment-container'),500);
            clearContext();
        });
        }

        function clearContext() {
              $("[name='content']").val('');
              $("[name='parentComment.id']").val(-1);
              $("[name='nickname']").val('');
              $("[name='email']").val('');
              $("[name='content']").attr("placeholder","请输入评论信息...");
            
        }
        function reply(obj) {
            var commentId = $(obj).data('commentid');
            var commentNickname = $(obj).data('commentnickname');
            $("[name='content']").attr("placeholder","@"+commentNickname).focus();
            $("[name='parentComment.id']").val(commentId);
            $(window).scrollTo($('#comment-form'),500);

        }

    
</script>
</body>
</html>